@font-face {
    font-family: "BigNoodleTitling";
    src: url(../assets/fonts/12458.ttf);
}

.container {
    max-width: 1000px;
}
.navbar-brand {
    font-family: "BigNoodleTitling";
    font-size: 40px;
    letter-spacing: 4px;
    color: #696969;
}
.content-slide {
    opacity: 0.8;
    background-color: #030303;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 321px 0 45px 0;

    .content-slide__title {
        font-family: "BigNoodleTitling";
        font-size: 72px;
        letter-spacing: 10.8px;
        color: #d6d5d5;
        margin: 0 auto;
        text-align: center;
    }

    .content-slide__subtitle {
        font-size: 36px;
        font-family: "BigNoodleTitling";
        letter-spacing: 3.6px;
        color: #d6d5d5;
        margin: 0 auto;
        text-align: center;
        padding: 0 0 15% 0;
    }
    .content-slide__image {
        width: 18px;
        height: 37px;
        background-image: url(../assets/img/.png);
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .content-slide__text {
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        color: #ffffff;
    }
}

.aboutUsBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 95px 0 115px;
}
.title {
    font-size: 48px;
    font-family: "BigNoodleTitling";
    letter-spacing: 4.8px;
    color: #3d3d3d;
    text-align: center;
    .title__decoration {
        width: 153px;
        height: 3px;
        background-color: #f4511e;
        margin: 0 auto;
        margin-bottom: 26px;
    }
    .title__subtitle {
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 100;
        color: #696969;
        letter-spacing: 0;
        margin-bottom: 56px;
    }
}
.cardContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .cardContainer__card {
        width: 320px;
        height: 196px;
        //flex: 1 1 auto;
        background-color: #ebebeb;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        //margin: 5px;
    }
    .cardContainer__image_one {
        width: 50px;
        height: 57px;
        background-image: url(../assets/img/valik.png);
        margin: 0 0 24px 0;
    }
    .cardContainer__image_twoo {
        width: 48px;
        height: 44px;
        background-image: url(../assets/img/case.png);
        margin: 0 0 29px 0;
    }
    .cardContainer__image_three {
        width: 60px;
        height: 27px;
        background-image: url(../assets/img/infinity.png);
        margin: 0 0 39px 0;
    }
    .cardContainer__title {
        font-family: "Roboto", sans-serif;
        font-size: 17.5px;
        font-weight: bold;
        letter-spacing: 0.44px;
        color: #707070;
        margin: 0 0 14px 0;
    }
    .cardContainer__text {
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 100;
        letter-spacing: 0.35px;
        color: #707070;
    }
}
.videoBox {
    width: 100%;
    display: flex;
    .videoBox__contant {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #171f23;
        padding: 130px 0 101px 0;
        .videoBox__title {
            font-family: "Roboto", sans-serif;
            font-size: 30px;
            font-weight: bold;
            color: #e7e7e7;
            margin-bottom: 28px;
            text-align: center;
        }
        .videoBox__text {
            font-family: "Roboto", sans-serif;
            max-width: 480px;
            font-size: 14px;
            font-weight: 100;
            color: #696969;
            text-align: center;
            margin-bottom: 48px;
        }
        .videoBox__button {
            width: 127px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #b11000;
            color: #e7e7e7;
        }
    }
    .videoBox__video {
        width: 50%;
        background-color: #171f23;
    }
}
.ourWorksBox {
    padding-top: 77px;

    .ourWorksBox__containerTabs {
        width: 50%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        .ourWorksBox__tabs {
            font-family: "Roboto", sans-serif;
            font-size: 13.5px;
            font-weight: 300;
            letter-spacing: 1.35px;
            color: #3d3d3d;
            & div {
                width: 100%;
                height: 2px;
                background-color: #e84c3d;
                margin: 0 0 10px 0;
            }

            &:hover {
                font-weight: bold;
            }
        }
    }
    .ourWorksBox__containerElements {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        height: 525px;
        width: 100%;
        .ourWorksBox__elements {
            width: 20%;
            height: 33%;
            background-color: #e84c3d;
        }
    }
}
.logoBox {
    height: 240px;
}
.containerLogo {
    height: 240px;
    background-color: #4d4d4d;
    display: flex;
    justify-content: center;
    align-items: center;
    .slidOne {
        width: 215px;
        height: 49px;
        background-image: url(../assets/img/themeforest.png);
        background-size: cover;
        background-position: center;
    }
    .slidTwo {
        width: 215px;
        height: 49px;
        background-image: url(../assets/img/graphicriver.png);
        background-size: cover;
        background-position: center;
    }
    .slidThree {
        width: 215px;
        height: 49px;
        background-image: url(../assets/img/videohive.png);
        background-size: cover;
        background-position: center;
    }
}
.whoWeAreBox {
    padding: 80px 0 100px 0;
    .whoWeAreBox__cardContainer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .designer {
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #ebebeb;
            padding: 75px 0;
            .designer__cirius {
                width: 134px;
                height: 134px;
                border-radius: 50%;
                background-color: #f26c4f;
                margin-bottom: 31px;
            }
            .designer__title {
                font-family: "Roboto", sans-serif;
                font-size: 20px;
                font-weight: bold;
                letter-spacing: 2px;
                color: #3d3d3d;
            }
            .designer__subtitle {
                font-size: 14px;
                font-weight: 300;
                font-family: "Roboto", sans-serif;
                letter-spacing: 1.4px;
                color: #3d3d3d;
                margin-bottom: 22px;
            }
            .designer__ikons {
                width: 68px;
                display: flex;
                justify-content: space-between;
                margin-bottom: 41px;
                & div:first-child {
                    width: 17px;
                    height: 12px;
                    background-image: url(../assets/img/be.png);
                }
                & div:nth-child(2) {
                    width: 13px;
                    height: 12px;
                    background-image: url(../assets/img/twit.png);
                }
                & div:last-child {
                    width: 13px;
                    height: 14px;
                    background-image: url(../assets/img/facebook.png);
                }
            }
            .designer__button {
                display: flex;
                justify-content: space-between;
                width: 55px;
                height: 11px;
                & div {
                    width: 11px;
                    height: 11px;
                    border-radius: 50%;
                    background-color: #ffffff;
                    &:hover {
                        background-color: #8e8181;
                    }
                }
            }
        }
        .skill {
            width: 65%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 132px 57px 88px 64px;
            background-color: #ebebeb;
            .skill__title {
                font-family: "Roboto", sans-serif;
                font-size: 24px;
                font-weight: bold;
                letter-spacing: 2.4px;
                color: #3d3d3d;
                margin-bottom: 26px;
            }
            .skill__text {
                font-family: "Roboto", sans-serif;
                font-size: 12px;
                font-weight: 100;
                color: #858383;
                margin-bottom: 42px;
            }
            .containerProgress {
                display: flex;
                justify-content: space-between;
                .containerProgress__programs {
                    font-family: "Roboto", sans-serif;
                    font-size: 14px;
                    font-weight: bold;
                    letter-spacing: 1.4px;
                    color: #3d3d3d;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                }
                .containerProgress__line {
                    width: 60%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    .line-progress {
                        width: 100%;
                        height: 2px;
                        background-color: #ffffff;
                        position: relative;
                        .line-progress__orange {
                            height: 2px;
                            position: absolute;
                            background-color: #e84c3d;
                            &.filling88 {
                                width: 88%;
                            }
                            &.filling92 {
                                width: 92%;
                            }
                            &.filling90 {
                                width: 90%;
                            }
                            &.filling98 {
                                width: 98%;
                            }
                        }
                    }
                }
                .container-progress-level {
                    font-family: "Roboto", sans-serif;
                    display: flex;
                    justify-content: space-around;
                    flex-direction: column;
                    font-size: 14px;
                    font-weight: 300;
                    color: #3d3d3d;
                }
            }
        }
    }
}
.featuresBox {
    background-color: #171f23;
    padding: 60px 0 68px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .featuresBox__title {
        font-size: 36px;
        font-family: "Roboto", sans-serif;
        font-stretch: condensed;
        letter-spacing: 7.2px;
        text-align: center;
        color: #f6f6f6;
    }
    .featuresBox__decoration {
        width: 86px;
        height: 2px;
        background-color: #404040;
        margin-bottom: 44px;
    }

    .featuresBox__cardContainer {
        display: flex;
        justify-content: space-evenly;
        .featuresBox-card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            .featuresBox-card__imagePc {
                width: 56px;
                height: 56px;
                background-image: url(../assets/img/pc.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
            .featuresBox-card__imageSh {
                width: 56px;
                height: 56px;
                background-image: url(../assets/img/sh.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
            .featuresBox-card__imagePack {
                width: 56px;
                height: 56px;
                background-image: url(../assets/img/pack.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
            .featuresBox-card__imageClient {
                width: 56px;
                height: 56px;
                background-image: url(../assets/img/client.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
            .featuresBox-card__text {
                font-family: "Roboto", sans-serif;
                font-size: 16px;
                font-weight: 300;
                color: #f6f6f6;
                text-align: center;
                margin: 27px 0 27px 0;
            }
            .featuresBox-card__number {
                font-family: "Roboto", sans-serif;
                font-size: 48px;
                font-weight: 300;
                color: #f6f6f6;
            }
        }
    }
}
.blogBox {
    padding: 75px 0 115px 0;
    .containerBlog {
        max-width: 1004px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        .containerBlog__cardBlog {
            width: 320px;
            height: 426px;
            background-color: #ebebeb;
            .containerBlog__image {
                height: 218px;
                background-color: #787474;
                margin: 0 0 38px 0;
            }
            .containerBlog__title {
                font-size: 18px;
                font-weight: 300;
                letter-spacing: 1.8px;
                color: #505050;
                font-family: "Roboto", sans-serif;
                margin: 0 0 28px 25px;
            }
            .containerBlog__text {
                font-size: 14px;
                font-weight: 100;
                font-family: "Roboto", sans-serif;
                letter-spacing: 0.7px;
                color: #797979;
                margin: 0 0 28px 25px;
            }
            .containerBlog__Feedback {
                display: flex;
                font-size: 10px;
                font-stretch: condensed;
                letter-spacing: 1px;
                color: #8a8989;
                .feedback__date {
                    margin-left: 25px;
                    display: flex;
                    &::before {
                        width: 8px;
                        height: 8px;
                        content: "";
                        background-image: url(../assets/img/clock.svg);
                        background-size: contain;
                        background-position: center;
                        margin-top: 4px;
                    }
                    & div {
                        margin: 0 0 0 7px;
                    }
                }
                .feedback__like {
                    margin-left: 114px;
                    display: flex;
                    &::before {
                        width: 8px;
                        height: 8px;
                        content: "";
                        background-image: url(../assets/img/hand-thumbs-up.svg);
                        background-size: contain;
                        background-position: center;
                        margin-top: 4px;
                    }
                    & div {
                        margin: 0 0 0 2px;
                    }
                }
                .feedback__comments {
                    display: flex;
                    margin-left: 10px;
                    &::before {
                        width: 8px;
                        height: 8px;
                        content: "";
                        background-image: url(../assets/img/chat-right-text.svg);
                        background-size: contain;
                        background-position: center;
                        margin-top: 4px;
                    }
                    & div {
                        margin: 0 0 0 2px;
                    }
                }
            }
        }
    }
}
.chosePlanBox {
    background-color: #171f23;
    padding: 60px 0 68px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .chosePlanBox__title {
        font-size: 36px;
        font-family: "Roboto", sans-serif;
        font-stretch: condensed;
        letter-spacing: 7.2px;
        text-align: center;
        color: #f6f6f6;
    }
    .chosePlanBox__decoration {
        width: 86px;
        height: 2px;
        background-color: #404040;
        margin-bottom: 44px;
    }
    .chosePlanBox__container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &:last-child {
            margin: 0;
        }
        .chosePlanBox__cardSubscription {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
            &:hover{
                border: 2px solid #e84c3d;
                & span{
                    color: #e84c3d;
                }
            }


            .chosePlanBox__price {
                width: 232px;
                height: 128px;
                background-color: #0e1316;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                font-family: "Roboto";
                letter-spacing: 1.4px;
                color: #ffffff;
                & p {
                    font-family: "Roboto";
                    font-size: 35.5px;
                    font-weight: 300;
                    color: #ffffff;
                    & span {
                        font-size: 24px;
                    }
                }
            }
            .chosePlanBox__content {
                background-color: #1f282c;
                width: 100%;
                padding: 48px 0 46px 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                & p {
                    font-family: "Roboto";
                    font-size: 14px;
                    font-weight: 100;
                    letter-spacing: 1.4px;
                    color: #ffffff;
                    & span {
                        font-weight: 600;
                    }
                }
                & button {
                    background-color: #f6744b;
                    width: 125px;
                    height: 34px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: "Roboto";
                    font-size: 14px;
                    font-weight: bold;
                    letter-spacing: 1.4px;
                    color: #ffffff;
                    margin: 76px 0 0 0;
                }
            }
        }
    }
}
.getInTouChBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}
.formBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .formBox__name {
        width: 45%;
        display: flex;
        flex-direction: column;
        & input {
            height: 50px;
            display: block;
            border: none;
            border-bottom: 1px solid #cacaca;
            margin-bottom: 44px;
        }
    }
    .formBox__mail {
        width: 45%;
        display: flex;
        flex-direction: column;
        & input {
            height: 50px;
            display: block;
            border: none;
            border-bottom: 1px solid #cacaca;
            margin-bottom: 44px;
        }
    }
    .forBox__message {
        width: 100%;
        display: flex;
        flex-direction: column;
        & textarea {
            height: 85px;
            display: block;
            border: none;
            border-bottom: 1px solid #cacaca;
            margin-bottom: 60px;
        }
    }

    & label {
        font-size: 14px;
        font-family: "Roboto";
        color: rgb(105, 105, 105);
        font-weight: bold;
        line-height: 1.2;
        text-align: left;
        & span {
            color: #e84c3d;
        }
    }
    & button {
        width: 203px;
        height: 51px;
        background-color: #f6744b;
        margin: 0 auto;
        font-family: "Roboto";
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1.4px;
        color: #ffffff;
    }
}
.locateOnMapBox {
    background-color: #0c1215;
    padding: 33px 0;
    display: flex;
    justify-content: center;
    .locateOnMapBox__title {
        font-family: "Roboto";
        font-size: 24px;
        font-weight: bold;
        font-stretch: condensed;
        letter-spacing: 2.4px;
        color: #ffffff;
    }
    .locateOnMapBox__img {
        width: 18px;
        height: 11px;
        background-image: url(../assets/img/strel.png);
        margin-top: 10px;
        margin-left: 10px;
    }
}
.footerBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 49px 0 76px 0;
    background-color: #171f23;
    .footerBox__img {
        background-image: url(../assets/img/logo.png);
        width: 29px;
        height: 45px;
        margin-bottom: 9px;
    }
    .footerBox__title {
        font-family: "BigNoodleTitling";
        font-size: 24px;
        letter-spacing: 2.4px;
        color: #ffffff;
        margin-bottom: 14px;
    }
    .footerBox__sbtitle {
        font-family: Roboto;
        font-size: 14px;
        letter-spacing: 1.4px;
        color: #ffffff;
        margin-bottom: 18px;
    }
    .footerBox__social {
        width: 90px;
        display: flex;
        justify-content: space-between;
        & div:first-child {
            width: 17px;
            height: 12px;
            background-image: url(../assets/img/be.png);
        }
        & div:nth-child(2) {
            width: 13px;
            height: 12px;
            background-image: url(../assets/img/twit.png);
        }
        & div:last-child {
            width: 14px;
            height: 14px;
            background-image: url(../assets/img/facebook.png);
        }
    }
}
@media (max-width: 990px) {
    .cardContainer__card {
        flex: 1 1 auto;
        margin: 5px;
    }

    .containerBlog {
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
        align-items: center;
        .containerBlog__cardBlog {
            margin-bottom: 20px;
        }
    }

    .ourWorksBox__containerTabs {
        flex-direction: column;
        .ourWorksBox__tabs {
            text-align: center;
        }
    }

    .chosePlanBox__container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .chosePlanBox__cardSubscription {
            margin-right: 0px;
            margin-bottom: 20px;
        }
    }

    .formBox {
        justify-content: center;
        .formBox__name {
            width: 80%;
        }
        .formBox__mail {
            width: 80%;
        }
        .forBox__message {
            width: 80%;
        }
    }
}
@media (max-width: 650px) {
    .whoWeAreBox__cardContainer {
        flex-direction: column;
        align-items: center;
    }
    .designer {
        width: 100% !important;
    }
    .skill {
        width: 100% !important;
    }
    .videoBox{
        flex-direction: column;
        .videoBox__contant{
            width: 100% !important;
        }
        .videoBox__video{
            width: 100% !important;
        }
    }
    .featuresBox__cardContainer{
        flex-direction: column;
        
    }

}
